<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="col-12 col-md-6 col-xl-4 teams-list-entry">
  <input type="hidden" name="id">
  <div class="card">
    <div class="card-header team-name"></div>
    <div class="card-body">
      <ul class="list-group list-group-flush team-members" style="max-height:600px;"></ul>
      <div class="card-text text-right">
        <button class="btn btn-primary add-member">
          <span class="fa fa-plus"></span>
          Mitglied hinzufügen
        </button>
      </div>
    </div>
  </div>
</div>
