<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="container p-2">
  <button class="btn btn-outline-secondary" onclick="new OverviewView()">
    <span class="fa fa-arrow-left"></span>
    Zurück
  </button>

  <div class="row text-center">
    <div class="col-12">
      <img src="lib/fontawesome/svgs/solid/user.svg" alt="Profile picture"
        class="img-thumbnail rounded-circle bg-light mt-3 mb-3" id="profile-pic"/>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" data-toggle="modal" data-target="#change-profile-picture-modal">Profilbild ändern</button>
    </div>
  </div>

  <div class="row mb-3 mt-3">
    <div class="col-12">
      <label for="username">Benutzername:</label>
      <input name="username" class="form-control" id="username" type="text">
    </div>
    <div class="col-12 col-lg-6">
      <label for="forename">Vorname:</label>
      <input type="text" name="forename" id="forename" class="form-control">
    </div>
    <div class="col-12 col-lg-6">
      <label for="lastname">Nachname:</label>
      <input type="text" class="form-control" id="lastname" name="lastname">
    </div>
    <div class="col-12">
      <button id="save-name" class="btn btn-primary mb-3 mt-3">
        Namen ändern
      </button>
    </div>
  </div>

  <div class="row mb-3 mt-3">
    <div class="col-12 col-lg-6">
      <label for="new-password">Neues Passwort:</label>
      <input type="password" id="new-password" name="new-password" class="form-control">
    </div>
    <div class="col">
      <label for="confirm-password">Neues Passwort bestätigen:</label>
      <input type="password" id="confirm-password" name="confirm-password" class="form-control">
    </div>
    <div class="col-12">
      <button id="save-password" class="btn btn-primary mb-3 mt-3" disabled>
        Passwort ändern
      </button>
    </div>
  </div>

</div>
