<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- controls -->
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 col-md-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Aufgaben</h4>
          <button class="btn btn-secondary m-1" id="tasks-overview-button">
            <span class="fas fa-tasks all-tasks"></span>
            Aufgaben ansehen
          </button>
          <button class="btn btn-primary m-1" data-toggle="modal" data-target="#create-task-modal">
            <span class="fa fa-plus save"></span>
            Aufgabe anlegen
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Boni</h4>
          <ul class="list-group list-group-flush card-list-preview"></ul>
          <button class="btn btn-primary" id="create-bonus" data-toggle="modal" data-target="#create-bonus-modal">
            <span class="fa fa-plus"></span>
            Bonus anlegen
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-2" id="manage-teams-card"></div>
  </div>
</div>

<div class="contaier-fluid" id="rankings"></div>
