<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="card user-entry">
  <div class="card-body">
    <div class="row">
      <div class="col-1 ranking"></div>
      <div class="col-3 profile-picture"></div>
      <div class="col-6 user-info">
        <div class="username"></div>
        <div class="name"></div>
      </div>
      <div class="col others"></div>
    </div>
  </div>
</div>
