<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- controls -->
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12 col-md-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Mandanten</h4>
          <button class="btn btn-primary" data-toggle="modal" data-target="#create-principal-modal">
            <span class="fa fa-plus"></span>
            Mandant anlegen
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Benutzer</h4>
          <button class="btn btn-primary" id="create-user" data-toggle="modal" data-target="#create-user-modal">
            <span class="fa fa-plus"></span>
            Benutzer anlegen
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-2" id="manage-teams-card"></div>
  </div>
</div>
