<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- create principal -->
<div class="modal fade" id="create-principal-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mandanten erstellen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="#">
          <label for="principal">Name:</label>
          <input type="text" class="form-control" name="principal">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Abbrechen
        </button>
        <button type="button" class="btn btn-primary save" disabled>
          <span class="fa fa-save"></span>
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>

<!-- create user -->
<div class="modal fade" id="create-user-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Benutzer erstellen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="#">
          <div class="form-row">
            <label for="principal">Mandant</label>
            <select name="principal" class="form-control principal-selection">
            </select>
          </div>
          <div class="form-row">
            <div class="col-6">
              <label for="username">Benutzername:</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="col-6">
              <label for="username">Passwort:</label>
              <input type="password" class="form-control" name="password">
            </div>
          </div>
          <div class="form-row">
            <div class="col-6">
              <label for="forename">Vorname:</label>
              <input type="text" class="form-control" name="forename">
            </div>
            <div class="col-6">
              <label for="name">Nachname:</label>
              <input type="text" class="form-control" name="name">
            </div>
          </div>
          <div class="form-row">
            <label for="role">Rolle:</label>
            <select name="role" class="form-control">
              <option value="PLAYER">Spieler</option>
              <option value="MASTER">Game Master</option>
              <option value="ADMIN">Administrator</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Abbrechen
        </button>
        <button type="button" class="btn btn-primary save" disabled>
          <span class="fa fa-save"></span>
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>

<div id="manage-team-modal-container"></div>
