<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="container p-2">
  <button class="btn btn-outline-secondary" onclick="new OverviewView()" id="back">
    <span class="fa fa-arrow-left"></span>
    Zurück
  </button>

  <div class="row mt-3">
    <div class="col text-center">
      <input type="text" class="form-control" name="search" placeholder="Suchen...">
    </div>
  </div>

  <div class="row mt-3" id="tasks-container">
  </div>

</div>

<div id="tasks-buffer" style="display:none;"></div>
