<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="col-12 col-lg-6 task mt-2">
  <div class="card">
    <div class="card-header task-title">
    </div>
    <div class="card-body">
      <p class="task-description"></p>
      <p><span class="xp"></span> XP</p>
      <div class="text-right">
        <div class="btn-group" role="group">
          <button class="btn btn-secondary edit">
            <span class="fas fa-edit"></span>
          </button>
          <button class="btn btn-primary mark-done">
            <span class="fas fa-check"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
